#pizza{
    background-image: url('../image/bg2.png');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    opacity: 85%;
    padding: auto;
}
h1{
    color: brown;
    text-align: center;
}
header{
    background-image: url('../image/find.png');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
a{
    color: white;
    font-weight: 200px;
}
#navbar{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    background-image: url('../image/order.png');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
#row{
    display: flex;
     justify-content: space-between;
     margin-right: 100px;
     margin-left: 100px;
     margin-top:100px;
     
}
#para{
    color:lime;
    font-size: large;
}
h2{
    text-align: center;
    color: lime;
}
table{
    color: white;
}
#pizzatotal{
    color: white;
}
#totalbill{
    color: white;
}
#addedprice{
    color: white;
}
#finallmessage{
    color: white;
}
label{
    color: white;
}
h5{
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lime;
}
