body{
    background-image: url('../image/bg2.png');
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
h2{
    color: brown;
    text-align: center;
}
header{
    background-image: url('../image/find.png');
    background-repeat: no-repeat;
    height: 15vh;
    background-size: cover;
}
a{
    color: white;
    font-weight: 300px;
}
#navbar{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
}